{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
{% if story %}"{{ story.title_fragment }}" by <a target="_blank" href="https://www.reddit.com/u/{{ story.author.username }}/posts">{{ story.author.username }}</a>
{% else %}
All subscriptions
{% endif %}
{% endblock %}

{% load static %}
{% load date_formatters %}
{% load fuck_numberwords %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Created</th>
			<th scope="col">Title</th>
			<th scope="col">Vote</th>
			<th scope="col">eBook</th>
		</tr>
	</thead>
	<tbody>
		{% for post in posts %}
		<tr>
			<td class="datetime">{{ post.created_utc | unix_to_datetime | date:"Y-m-d H:i:s" }}</td>
			<td class="position-relative">
				<a target="_blank" href="{{ post.url }}" class="font-weight-bold stretched-link">{{ post.fixed_title }}</a>
			</td>
			<td class="position-relative">
				<form action="{% url 'vote' vote_id=post.id %}" method="post">
					{% if post.upvotable and not post.likes %}
					<a href="{% url 'vote' vote_id=post.id %}" class="btn btn-light btn-lg" download>Upvote</a>

					{% elif post.upvotable and post.likes %}
					<a href="{% url 'vote' vote_id=post.id %}" class="btn btn-dark btn-lg" download>Downvote</a>

					{% elif not post.upvotable and post.likes and not post.hidden %}
					<a href="{% url 'vote' vote_id=post.id %}" class="btn btn-dark btn-lg" download
					   title="this means post is upvoted > 6 months ago, meaning upvote cannot be cleared anymore">OldUpvoteHide</a>

					{% elif not post.upvotable and not post.hidden %}
					<!-- <button name="hide" type="submit" class="btn btn-dark btn-lg">Hide</button> -->
					<a href="{% url 'vote' vote_id=post.id %}" class="btn btn-dark btn-lg" download>Hide</a>

					{% elif not post.upvotable and post.likes and post.hidden %}
					<a href="{% url 'vote' vote_id=post.id %}" class="btn btn-dark btn-lg" download
					   title="this means post is upvoted > 6 months ago, meaning upvote cannot be cleared anymore">OldUpvoteUnhide</a>

					{% elif not post.upvotable and post.hidden %}
					<!-- <button name="unhide" type="submit" class="btn btn-dark btn-lg">Unhide</button> -->
					<a href="{% url 'vote' vote_id=post.id %}" class="btn btn-dark btn-lg" download>Unhide</a>

					{% endif %}
				</form>
			</td>
			<td class="position-relative">
				<a href="{% url 'download_ebook' post_id=post.id %}" class="btn btn-dark btn-lg" download>azw3</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


<form id="get_more_posts" method="get">
	<input type="hidden" name="n" value="10000">
	<button name="submit" type="submit">Show up to 10.000 posts</button>
</form>

<form id="get_n_chapter_as_ebook" action="/get_n_chapter_as_ebook/{{ story.id }}/" method="post">
	<input type="hidden" name="story_id" value="{{ story.id }}">
	<button name="submit" type="submit">Get next 10 unread as one azw3</button>
</form>

<hr />

<form id="nuke_cache" action="/nuke_cache/{{ story.id }}/" method="post">
	<input type="hidden" name="story_id" value="{{ story.id }}">
	<button name="submit" type="submit">Nuke cache for this story</button>
</form>

{% endblock %}
