{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}redditSub2Kindle{% endblock %}

{% load static %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Username</th>
			<th scope="col">Title (view posts)</th>
		</tr>
	</thead>
	<tbody>
		{% if payload %}
		{% for authorStory in payload %}
		<tr>
			<td><a target="_blank" href="https://www.reddit.com/u/{{ authorStory.author.username }}/posts" class="btn btn-dark btn-lg">{{ authorStory.author.username }}</a></td>
			<th scope="row">
				<ul>
					{% for story in authorStory.stories %}
					<li><a href="{% url 'detail' story_id=story.id %}" class="btn btn-dark btn-lg">{{ story.title_fragment }}</a></li>
					{% endfor %}
				</ul>
			</th>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="2">No subscriptions in database, add in Admin panel</td>
		</tr>
		{% endif %}
	</tbody>
</table>

<hr />

<div>
	<h2>Download multiple posts into a single file</h2>

	<form id="bookify" action="{% url 'bookify' %}" method="post">
		<textarea rows="3" class="form-control book" name="list"></textarea>
		<button name="submit" type="submit">Turn into a book (you can put multiple links)</button>
	</form>

	<h2>Download text as ebook</h2>

	<form id="textbook" action="/textbook" method="post">
		<input name="title" type="text" class="form-control" placeholder="Title">
		<textarea rows="3" class="form-control book" name="content"></textarea>
		<button name="submit" type="submit">Turn into book</button>
	</form>
</div>

<hr />

<form id="nuke_cache" action="/nuke_cache/" method="post">
	<button name="submit" type="submit">Nuke cache for ALL stories</button>
</form>

{% endblock %}
